body{
	height:100vh;
  margin:0;
  padding:0;
  background: linear-gradient(127deg, rgba(99,199,225,1) 0%, rgba(87,164,33,1) 22%, rgba(147,125,26,1) 48%, rgba(61,53,122,1) 76%, rgba(38,98,15,1) 100%);
}